/* Css reset */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    img {
        max-width: 100%;
        float: left;
    }

/* Custom properties */

    :root {
        --bg-color:#0F0E17;
    }

/* Common */

    body {
        font-family: "Fredoka", sans-serif;
        width:80%;
        margin: 0 auto;
        text-align: center;
    }

    .clearfix::after {
        content:"";
        clear: both;
        display: table;
    }

/* Header */

    h1 {
        font-size:2rem;
        margin:30px;
        color: #E53170;
    }

/* Cards section */

    .row {
        margin:40px
    }

    .col {
        width: calc(100% / 3);
        float: left;
        padding: 0 20px;
        }

    .col img {
        height: 80px;
        margin-right: 10px;
        }

    .card {
        float: left;
        background-color: var(--bg-color);
        min-width: 300px;
        color: white;
        text-align: left;
    }

    .mail {
        color: #4DCCF2;
    }

    .name{
        margin:10px;
        font-weight: bolder;
    }